__pycache__/
*.py[cod]
*.so
*.pyd
*.dll
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.idea/
.vscode/

build/
dist/
data/
runs/
test_visual/
results/evaluation-*/
*.log

weights/*.pth
!weights/best_model.pth
